.bar____container {
  background-color: rgb(14, 3, 34);
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
}
.bar____item h2 {
  color: White;
  cursor: pointer;
  font-family: Geneva, Verdana, sans-serif;
}
.bar____item h2 a {
  color: White;
  text-decoration: none;
  cursor: pointer;
  font-family: Geneva, Verdana, sans-serif;
}
.bar____item h2:hover {
  color: rgb(216, 55, 55);
}

.bar____item h2 a:hover {
  color: rgb(202, 56, 56);
}
.bar___items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
