.status____container {
  display: flex;
  border: 5px solid rgb(94, 9, 206);
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-between;
  width: 930px;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
  margin: 15px;
  background-color: rgb(240, 240, 240);
}
