.App {
  text-align: center;
  height: 200vh;
  background-color: rgb(208, 214, 245);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home___pending h2 {
  color: rgb(175, 35, 35);
}
.home____container {
  display: flex;
  flex-direction: column;
}
.home____buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app___title {
  font-size: 50px;
  border-radius: 30px;
  border: 1px black solid;
  background-color: greenyellow;
  width: 600px;
}
.app___container {
  width: 100%;
  height: 100vh;
}
