.App {
  text-align: center;
  height: 200vh;
  background-color: rgb(208, 214, 245);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home___pending h2 {
  color: rgb(175, 35, 35);
}
.home____container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home____buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app___title {
  font-size: 30px;
  border-radius: 30px;
  border: 3px rgb(17, 0, 248) solid;
  font-family: "Times New Roman", Times, serif;

  background-color: rgb(255, 164, 45);
  width: 600px;
  margin: 10px;
  padding: 10px;
}
.app___container {
  width: 100%;
  height: 100vh;
}
.home____status {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
