.item___name {
  display: flex;
  flex-direction: row;
  color: red;
}
h2 {
  margin: 0;
}
h1 {
  margin: 0;
}
.item___brand h1 {
  color: rgb(0, 0, 0);
}
.item___brand h2 {
  color: rgb(195, 0, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.brand___name h1 {
  color: rgb(0, 0, 0);
}
.brand___name h2 {
  color: rgb(195, 0, 255);
}
#color___selection {
  color: rgb(0, 0, 0);
}
#size___selection {
  color: rgb(0, 0, 0);
}
.item___container {
  display: flex;
  background-color: rgb(253, 253, 251);
  border: 2px solid black;
  border-radius: 10px;
  width: 900px;
  margin: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.item___colors {
  display: flex;
}
.item___sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.item___append___container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
